.contact-icon {
  color: #ffd700; /* Blue color similar to your LinkedIn icon */
  font-size: 100px; /* Adjust size to match screenshot */
}

@media screen and (max-width: 1200px) {
  .contact-page {
    .text-zone {
      position: initial;
      transform: none;
      width: 100%;
      display: block;
      padding: 20px;
      box-sizing: border-box;
    }
  }
}
